version 3/code/nodered-example.txt
[{"id":"fcd7902375342383","type":"mqtt in","z":"5c231bdd95311f55","name":"","topic":"stat/c15e15/lwt","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"inputs":0,"x":200,"y":440,"wires":[["b6b2f3c2d578c860"]]},{"id":"412bd70551c3c634","type":"comment","z":"5c231bdd95311f55","name":"Flash Interval","info":"","x":190,"y":600,"wires":[]},{"id":"5054bff5f2030d55","type":"comment","z":"5c231bdd95311f55","name":"LWT","info":"","x":170,"y":400,"wires":[]},{"id":"ca8fa186386c31fd","type":"comment","z":"5c231bdd95311f55","name":"MQTT Config","info":"","x":190,"y":240,"wires":[]},{"id":"04d4c7af37432c0e","type":"link in","z":"5c231bdd95311f55","name":"mqtt out - LED","links":["0d0e47a8d7081557","2b40078c13c4f508","3ea0af19fdfb2af4","4a36872db83cb921","a7b96dbdbb863b1a","a85de06199290132","ba88dd6a5c74f432","bdd00f9b2024af93","c263395609a053e1","dee55b3017438b6d","1403c261cee805e3","44ddbae5fec18f9c","9d778cfd5ce5b453","be141a423c79e3c8","0ef61e6a36d15a48","53be89b42501ced3","f4dfa485e99e64d0","f02aff8ef4159454","73ad72119d15b3dc"],"x":135,"y":360,"wires":[["ac991122a27d5a0b"]]},{"id":"720a9953d7541e93","type":"inject","z":"5c231bdd95311f55","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":640,"wires":[["cb1a4fcd785e50f9"]]},{"id":"4a73120d438291f5","type":"inject","z":"5c231bdd95311f55","name":"stop timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":200,"y":680,"wires":[["cb1a4fcd785e50f9"]]},{"id":"cb1a4fcd785e50f9","type":"trigger","z":"5c231bdd95311f55","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":660,"wires":[["f4cfbdeac2a26208"]]},{"id":"29647b5d4df5abfa","type":"comment","z":"5c231bdd95311f55","name":"MQTT Command","info":"","x":200,"y":320,"wires":[]},{"id":"f4cfbdeac2a26208","type":"state-machine","z":"5c231bdd95311f55","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["{\"flash\":false}","{\"flash\":true}"],"transitions":[{"name":"1","from":"{\"flash\":true}","to":"{\"flash\":false}"},{"name":"1","from":"{\"flash\":false}","to":"{\"flash\":true}"}],"x":620,"y":660,"wires":[["9e89b350610cc2e3"]]},{"id":"9489cade687d3183","type":"change","z":"5c231bdd95311f55","name":"cmnd/c15e15","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/c15e15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":360,"wires":[["b71401414199374c"]]},{"id":"b71401414199374c","type":"mqtt out","z":"5c231bdd95311f55","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":700,"y":320,"wires":[]},{"id":"bcfdc6ec36af648b","type":"change","z":"5c231bdd95311f55","name":"conf/c15e15","rules":[{"t":"set","p":"topic","pt":"msg","to":"conf/c15e15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["b71401414199374c"]]},{"id":"ac991122a27d5a0b","type":"change","z":"5c231bdd95311f55","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tower\":[{\t   \"channel\":$.channel,\t   \"mode\":$.mode,\t   \"brightness\":$.brightness\t}]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":360,"wires":[["9489cade687d3183","86c45ed0d97482f2"]]},{"id":"38e55b5e7b27d6ff","type":"inject","z":"5c231bdd95311f55","name":"Multi mode","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"towerMode\":\"multi\"}","payloadType":"json","x":980,"y":80,"wires":[["ba36f9ef8326e616"]]},{"id":"c69c7074a47fc845","type":"inject","z":"5c231bdd95311f55","name":"single mode (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"towerMode\":\"single\"}","payloadType":"json","x":1020,"y":120,"wires":[["ba36f9ef8326e616"]]},{"id":"ed4d70d880d7b10a","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1480,"wires":[["7b831cdd144868cd"]]},{"id":"9248bdf5305e6c4b","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1560,"wires":[["7b831cdd144868cd"]]},{"id":"7b831cdd144868cd","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1480,"wires":[["bdd00f9b2024af93"]]},{"id":"56a5893a4ef94592","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1480,"wires":[["dee55b3017438b6d"]]},{"id":"655be90980075a66","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1480,"wires":[["56a5893a4ef94592"]]},{"id":"ac8a1c8d10051249","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1560,"wires":[["56a5893a4ef94592"]]},{"id":"a505f10f56676aaf","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1700,"wires":[["de26b2edf7372e29"]]},{"id":"3025fe4c62dd73e8","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1780,"wires":[["de26b2edf7372e29"]]},{"id":"de26b2edf7372e29","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1700,"wires":[["a7b96dbdbb863b1a"]]},{"id":"59b24dcbf091d03f","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1700,"wires":[["0d0e47a8d7081557"]]},{"id":"66050a85a481f13c","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1700,"wires":[["59b24dcbf091d03f"]]},{"id":"7ba2abaa2f45b388","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1780,"wires":[["59b24dcbf091d03f"]]},{"id":"0ab2316ec4a4c3bf","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1920,"wires":[["1aaa672b6a9eaee9"]]},{"id":"910969914ca796e2","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2000,"wires":[["1aaa672b6a9eaee9"]]},{"id":"cc77e8e43ef609a0","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2040,"wires":[["1aaa672b6a9eaee9"]]},{"id":"1aaa672b6a9eaee9","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1920,"wires":[["a85de06199290132"]]},{"id":"e0e07a01da201f75","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1920,"wires":[["ba88dd6a5c74f432"]]},{"id":"c85270b44aaf581a","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1920,"wires":[["e0e07a01da201f75"]]},{"id":"ad0da87b9b6bacf8","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2000,"wires":[["e0e07a01da201f75"]]},{"id":"bdd00f9b2024af93","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":455,"y":1480,"wires":[]},{"id":"a7b96dbdbb863b1a","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":455,"y":1700,"wires":[]},{"id":"a85de06199290132","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":455,"y":1920,"wires":[]},{"id":"dee55b3017438b6d","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":835,"y":1480,"wires":[]},{"id":"0d0e47a8d7081557","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":835,"y":1700,"wires":[]},{"id":"ba88dd6a5c74f432","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":835,"y":1920,"wires":[]},{"id":"ce58e3ecd0aa178c","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2140,"wires":[["cff246e39c00a705"]]},{"id":"a4becf64aec61162","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2220,"wires":[["cff246e39c00a705"]]},{"id":"cff246e39c00a705","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2140,"wires":[["4a36872db83cb921"]]},{"id":"6d41112a0fe2303e","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2140,"wires":[["3ea0af19fdfb2af4"]]},{"id":"46e9f278495a380b","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2140,"wires":[["6d41112a0fe2303e"]]},{"id":"7110f6d779e3444c","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2220,"wires":[["6d41112a0fe2303e"]]},{"id":"4a36872db83cb921","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":455,"y":2140,"wires":[]},{"id":"3ea0af19fdfb2af4","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":835,"y":2140,"wires":[]},{"id":"d35ac805b8cee024","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2360,"wires":[["b727e4f4d6454b53"]]},{"id":"d48b6ce93a5a6776","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2440,"wires":[["b727e4f4d6454b53"]]},{"id":"b727e4f4d6454b53","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2360,"wires":[["c263395609a053e1"]]},{"id":"239ed9c996da9826","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2360,"wires":[["2b40078c13c4f508"]]},{"id":"c219e3121e4ed1af","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2360,"wires":[["239ed9c996da9826"]]},{"id":"698529182ced0587","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2440,"wires":[["239ed9c996da9826"]]},{"id":"c263395609a053e1","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":455,"y":2360,"wires":[]},{"id":"2b40078c13c4f508","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":835,"y":2360,"wires":[]},{"id":"fb21b0b1c5c6db77","type":"comment","z":"5c231bdd95311f55","name":"LED Control","info":"","x":190,"y":1440,"wires":[]},{"id":"de8841006509b3a9","type":"mqtt in","z":"5c231bdd95311f55","name":"","topic":"tele/c15e15","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"inputs":0,"x":190,"y":540,"wires":[["175c576c68b73577"]]},{"id":"175c576c68b73577","type":"debug","z":"5c231bdd95311f55","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":540,"wires":[]},{"id":"0a2141e33e7f9438","type":"comment","z":"5c231bdd95311f55","name":"Sleep State","info":"","x":190,"y":720,"wires":[]},{"id":"d71b10ca0a5bb3cc","type":"inject","z":"5c231bdd95311f55","name":"Sleep ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":200,"y":760,"wires":[["29bee011a0d768a3"]]},{"id":"6154da62092d33c3","type":"inject","z":"5c231bdd95311f55","name":"Sleep OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":200,"y":800,"wires":[["29bee011a0d768a3"]]},{"id":"29bee011a0d768a3","type":"state-machine","z":"5c231bdd95311f55","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["{\"sleep\":false}","{\"sleep\":true}"],"transitions":[{"name":"1","from":"{\"sleep\":false}","to":"{\"sleep\":true}"},{"name":"0","from":"{\"sleep\":true}","to":"{\"sleep\":false}"}],"x":400,"y":780,"wires":[["b572789548fdc9ce"]]},{"id":"052cb876e5d4bb40","type":"change","z":"5c231bdd95311f55","name":"config","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"year\":$.myyear,\t   \"month\":$.mymonthn,\t   \"day\":$.mydom,\t   \"hour\":$.myhour,\t   \"minute\":$.myminute,\t   \"seconds\":$.mysecond\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1000,"wires":[["090a6fa8c8948b0f"]]},{"id":"0652de08681f0f48","type":"link in","z":"5c231bdd95311f55","name":"mqtt out - cmnd","links":["9e89b350610cc2e3","b572789548fdc9ce","cccc315547f4da40","fa90746b5798a7b1"],"x":315,"y":320,"wires":[["9489cade687d3183"]]},{"id":"b572789548fdc9ce","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":515,"y":780,"wires":[]},{"id":"9e89b350610cc2e3","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":735,"y":660,"wires":[]},{"id":"9042eb18ed744da7","type":"link in","z":"5c231bdd95311f55","name":"mqtt out - conf","links":["090a6fa8c8948b0f","ba36f9ef8326e616","34daa47cfad8087f","d818df665fec8596","94e9ca09c9725e1c","78cbdc81bbdfe523","1b3a4d6456cf6809","1028e1b8a9d39744"],"x":295,"y":240,"wires":[["bcfdc6ec36af648b"]]},{"id":"321c850a93235ba7","type":"simpletime","z":"5c231bdd95311f55","name":"","mydate":false,"myymd":false,"myyear":true,"mymonth":false,"mymonthn":true,"mydom":true,"mydoy":false,"myday":false,"myhourpm":false,"myhour":true,"mytime":false,"mytimes":false,"myminute":true,"myminutes":false,"mysecond":true,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":390,"y":1000,"wires":[["052cb876e5d4bb40"]]},{"id":"40a50c0e163767ed","type":"inject","z":"5c231bdd95311f55","name":"Update Time","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":210,"y":1000,"wires":[["321c850a93235ba7"]]},{"id":"1bda2baef4903e24","type":"comment","z":"5c231bdd95311f55","name":"Update RTC","info":"","x":190,"y":960,"wires":[]},{"id":"090a6fa8c8948b0f","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":615,"y":1000,"wires":[]},{"id":"3385c5b52f2c2a78","type":"comment","z":"5c231bdd95311f55","name":"Tele Data","info":"","x":180,"y":500,"wires":[]},{"id":"b6b2f3c2d578c860","type":"switch","z":"5c231bdd95311f55","name":"","property":"payload.online","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":440,"wires":[["612c43f64f553f01"],["f8b016436a629dad"]]},{"id":"612c43f64f553f01","type":"change","z":"5c231bdd95311f55","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":420,"wires":[["76a0f538eb745f47"]]},{"id":"f8b016436a629dad","type":"change","z":"5c231bdd95311f55","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":460,"wires":[["76a0f538eb745f47"]]},{"id":"461baf0bbef4e129","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2620,"wires":[["b9e3fd0333d067a1"]]},{"id":"f3c345b448d38b1c","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2700,"wires":[["b9e3fd0333d067a1"]]},{"id":"b9e3fd0333d067a1","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2620,"wires":[["1403c261cee805e3"]]},{"id":"5217d3494cc5ee8e","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2620,"wires":[["44ddbae5fec18f9c"]]},{"id":"32f69f538efd9793","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2620,"wires":[["5217d3494cc5ee8e"]]},{"id":"dc3ca4e839bf4217","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2700,"wires":[["5217d3494cc5ee8e"]]},{"id":"1403c261cee805e3","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":455,"y":2620,"wires":[]},{"id":"44ddbae5fec18f9c","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":835,"y":2620,"wires":[]},{"id":"4ad8ccd71dc50300","type":"comment","z":"5c231bdd95311f55","name":"Buzzer Control","info":"","x":200,"y":2580,"wires":[]},{"id":"d9990f7294fbcf49","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1520,"wires":[["7b831cdd144868cd"]]},{"id":"61a6c8117f49900a","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1640,"wires":[["7b831cdd144868cd"]]},{"id":"e9a95266250e9ba4","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1520,"wires":[["56a5893a4ef94592"]]},{"id":"1af0cd806cc9ea36","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1640,"wires":[["56a5893a4ef94592"]]},{"id":"a2637b9fec3e282b","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1860,"wires":[["de26b2edf7372e29"]]},{"id":"63ed099dc40d19c9","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1740,"wires":[["de26b2edf7372e29"]]},{"id":"00221fdbf6088a2b","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1860,"wires":[["59b24dcbf091d03f"]]},{"id":"f854c9c303fd3470","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1740,"wires":[["59b24dcbf091d03f"]]},{"id":"9dc6682e8e70d778","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2080,"wires":[["1aaa672b6a9eaee9"]]},{"id":"c242c91ca6cfc82c","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1960,"wires":[["1aaa672b6a9eaee9"]]},{"id":"fe58fe2fcf2f3e82","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2080,"wires":[["e0e07a01da201f75"]]},{"id":"3cebbe4395b4bad2","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1960,"wires":[["e0e07a01da201f75"]]},{"id":"5f409884242ab6a4","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2300,"wires":[["cff246e39c00a705"]]},{"id":"1fcb5744c16d8488","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2180,"wires":[["cff246e39c00a705"]]},{"id":"e213f3e11ea7bbb1","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2300,"wires":[["6d41112a0fe2303e"]]},{"id":"374e1c32eeddfdea","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2180,"wires":[["6d41112a0fe2303e"]]},{"id":"6fa0d1b7d04330fa","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2780,"wires":[["b9e3fd0333d067a1"]]},{"id":"da6a20c24ce5b1c9","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2660,"wires":[["b9e3fd0333d067a1"]]},{"id":"4344dc3eb5aeac94","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2780,"wires":[["5217d3494cc5ee8e"]]},{"id":"3fae41a05d71bcd7","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2660,"wires":[["5217d3494cc5ee8e"]]},{"id":"cd94c68ee0c60b5c","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2520,"wires":[["b727e4f4d6454b53"]]},{"id":"ceb257002602e8c2","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2400,"wires":[["b727e4f4d6454b53"]]},{"id":"59b920ccc40a8eae","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2520,"wires":[["239ed9c996da9826"]]},{"id":"9c8e561270a0cfd6","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2400,"wires":[["239ed9c996da9826"]]},{"id":"df309c622a063206","type":"inject","z":"5c231bdd95311f55","name":"Screen off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorScreenMode\":\"off\"}","payloadType":"json","x":200,"y":1100,"wires":[["cccc315547f4da40"]]},{"id":"64fc8774eff393d8","type":"inject","z":"5c231bdd95311f55","name":"Screen one (default)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorScreenMode\":\"one\"}","payloadType":"json","x":230,"y":1140,"wires":[["cccc315547f4da40"]]},{"id":"a6fe04d68c791478","type":"inject","z":"5c231bdd95311f55","name":"Screen two","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorScreenMode\":\"two\"}","payloadType":"json","x":200,"y":1180,"wires":[["cccc315547f4da40"]]},{"id":"57a11aa8c3a6d519","type":"inject","z":"5c231bdd95311f55","name":"Screen three","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorScreenMode\":\"three\"}","payloadType":"json","x":210,"y":1220,"wires":[["cccc315547f4da40"]]},{"id":"90980e166e4e977a","type":"inject","z":"5c231bdd95311f55","name":"Screen four","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorScreenMode\":\"four\"}","payloadType":"json","x":210,"y":1260,"wires":[["cccc315547f4da40"]]},{"id":"cccc315547f4da40","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":775,"y":1100,"wires":[]},{"id":"a02ac6e71bc7c723","type":"inject","z":"5c231bdd95311f55","name":"custom text 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorOneOLED\":\"sum\",\"sensorTwoOLED\":\"text\"}","payloadType":"json","x":210,"y":1340,"wires":[["cccc315547f4da40"]]},{"id":"01ad305b2031f5d2","type":"simpletime","z":"5c231bdd95311f55","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":true,"mytimes":false,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":390,"y":1380,"wires":[["3761c01201b2c39c"]]},{"id":"3761c01201b2c39c","type":"change","z":"5c231bdd95311f55","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"sensorScreenMode\":\"five\",\t   \"sensorOneOLED\":$.text,\t   \"sensorTwoOLED\":$.mytime\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1380,"wires":[["cccc315547f4da40"]]},{"id":"53f6de4fbdc7eb14","type":"inject","z":"5c231bdd95311f55","name":"doorbell example","props":[{"p":"text","v":"Front bell","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":1380,"wires":[["01ad305b2031f5d2"]]},{"id":"b8a6cbd1c0cea3ab","type":"inject","z":"5c231bdd95311f55","name":"Config Payload (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorTempMode\":\"c\",\"sensorClockMode\":\"24\",\"sensorUpdateSeconds\":60,\"sensorSleepOLEDEnable\":true,\"towerMode\":\"single\",\"blinkMs\":1000,\"towerSleep\":[{\"sleepModes\":[0,1,1,1,1,0]}]}","payloadType":"json","x":240,"y":280,"wires":[["bcfdc6ec36af648b"]]},{"id":"5e7c567d919566f2","type":"comment","z":"5c231bdd95311f55","name":"OLED Control","info":"","x":190,"y":1060,"wires":[]},{"id":"38111b338017863f","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1600,"wires":[["7b831cdd144868cd"]]},{"id":"1d2bed84962a09e0","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1600,"wires":[["56a5893a4ef94592"]]},{"id":"a2c9de81b3b65fa7","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1820,"wires":[["de26b2edf7372e29"]]},{"id":"57d255ea9cfe8535","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1820,"wires":[["59b24dcbf091d03f"]]},{"id":"4856d2b0523a9e42","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2040,"wires":[["e0e07a01da201f75"]]},{"id":"8458c7f219c2db91","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2260,"wires":[["cff246e39c00a705"]]},{"id":"39b06da2063744c9","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2260,"wires":[["6d41112a0fe2303e"]]},{"id":"6f0fc6051aee8899","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2480,"wires":[["b727e4f4d6454b53"]]},{"id":"00c146940122bc28","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2480,"wires":[["239ed9c996da9826"]]},{"id":"b1ad3520b7bbf438","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2740,"wires":[["b9e3fd0333d067a1"]]},{"id":"bee4fc07f4954c5f","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2740,"wires":[["5217d3494cc5ee8e"]]},{"id":"9cfafd72ebcc1fbb","type":"inject","z":"5c231bdd95311f55","name":"Screen five","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorScreenMode\":\"five\"}","payloadType":"json","x":200,"y":1300,"wires":[["cccc315547f4da40"]]},{"id":"76a0f538eb745f47","type":"state-machine","z":"5c231bdd95311f55","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"true","from":"offline","to":"online"},{"name":"true","from":"online","to":"online"},{"name":"false","from":"online","to":"offline"},{"name":"false","from":"offline","to":"offline"}],"x":760,"y":440,"wires":[["49b2922f1c599c46"]]},{"id":"49b2922f1c599c46","type":"debug","z":"5c231bdd95311f55","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"86c45ed0d97482f2","type":"debug","z":"5c231bdd95311f55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":540,"wires":[]},{"id":"9ee311e66b8d20e7","type":"inject","z":"5c231bdd95311f55","name":"sleepModes default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"towerSleep\":[{\"sleepModes\":[0,1,1,1,1,0]}]}","payloadType":"json","x":1010,"y":220,"wires":[["34daa47cfad8087f"]]},{"id":"c906de86b6aeab8c","type":"inject","z":"5c231bdd95311f55","name":"sleepModes all disabled","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"towerSleep\":[{\"sleepModes\":[0,0,0,0,0,0]}]}","payloadType":"json","x":1020,"y":180,"wires":[["34daa47cfad8087f"]]},{"id":"6f30352747940d34","type":"change","z":"5c231bdd95311f55","name":"blink","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"blink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1480,"wires":[["be141a423c79e3c8"]]},{"id":"139e0b0a6890b8bc","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1480,"wires":[["6f30352747940d34"]]},{"id":"162b754b194e7b91","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1560,"wires":[["6f30352747940d34"]]},{"id":"1bc92d08a13bda63","type":"change","z":"5c231bdd95311f55","name":"blink","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"blink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1700,"wires":[["0ef61e6a36d15a48"]]},{"id":"da748a3d0cb5837a","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1700,"wires":[["1bc92d08a13bda63"]]},{"id":"b3b56cb455fad983","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1780,"wires":[["1bc92d08a13bda63"]]},{"id":"8029c55bd6723bbe","type":"change","z":"5c231bdd95311f55","name":"blink","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"blink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1920,"wires":[["53be89b42501ced3"]]},{"id":"67a1cdcd0655ce4b","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1920,"wires":[["8029c55bd6723bbe"]]},{"id":"888df06c6246eccb","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2000,"wires":[["8029c55bd6723bbe"]]},{"id":"be141a423c79e3c8","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":1235,"y":1480,"wires":[]},{"id":"0ef61e6a36d15a48","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":1235,"y":1700,"wires":[]},{"id":"53be89b42501ced3","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":1235,"y":1920,"wires":[]},{"id":"dd1a807977949c34","type":"change","z":"5c231bdd95311f55","name":"blink","rules":[{"t":"set","p":"channel","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"blink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2140,"wires":[["f4dfa485e99e64d0"]]},{"id":"2ee1f6164d6a73d1","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2140,"wires":[["dd1a807977949c34"]]},{"id":"d38eabc860279ca5","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2220,"wires":[["dd1a807977949c34"]]},{"id":"f4dfa485e99e64d0","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":1235,"y":2140,"wires":[]},{"id":"52df67e4cd86aaa3","type":"change","z":"5c231bdd95311f55","name":"blink","rules":[{"t":"set","p":"channel","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"blink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2360,"wires":[["f02aff8ef4159454"]]},{"id":"de622e655ece21f8","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2360,"wires":[["52df67e4cd86aaa3"]]},{"id":"1989d5ae4ba527f8","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2440,"wires":[["52df67e4cd86aaa3"]]},{"id":"f02aff8ef4159454","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":1235,"y":2360,"wires":[]},{"id":"89e1396c045e47e3","type":"change","z":"5c231bdd95311f55","name":"blink","rules":[{"t":"set","p":"channel","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"blink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":2620,"wires":[["73ad72119d15b3dc"]]},{"id":"d5da60dd55f4547d","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2620,"wires":[["89e1396c045e47e3"]]},{"id":"75ab623e502bbee4","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2700,"wires":[["89e1396c045e47e3"]]},{"id":"73ad72119d15b3dc","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e","a86ffaced2af6702"],"x":1235,"y":2620,"wires":[]},{"id":"e102c26c0c3cbd73","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1520,"wires":[["6f30352747940d34"]]},{"id":"8587177af6a7b3d7","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1640,"wires":[["6f30352747940d34"]]},{"id":"e9d25e33f62681a7","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1860,"wires":[["1bc92d08a13bda63"]]},{"id":"4b5a5d90b249c103","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1740,"wires":[["1bc92d08a13bda63"]]},{"id":"4b060b1033badc87","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2080,"wires":[["8029c55bd6723bbe"]]},{"id":"e7798e1895945e79","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1960,"wires":[["8029c55bd6723bbe"]]},{"id":"fbd743de246c3320","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2300,"wires":[["dd1a807977949c34"]]},{"id":"f0e794235e23420d","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2180,"wires":[["dd1a807977949c34"]]},{"id":"8f70bb4b0bb9fde4","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2780,"wires":[["89e1396c045e47e3"]]},{"id":"c92815d36e98149b","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2660,"wires":[["89e1396c045e47e3"]]},{"id":"413ced2212e6d6d4","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2520,"wires":[["52df67e4cd86aaa3"]]},{"id":"39111022d18b6765","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2400,"wires":[["52df67e4cd86aaa3"]]},{"id":"925b34ea10078fe4","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1600,"wires":[["6f30352747940d34"]]},{"id":"4cfa10ea40e59541","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":1820,"wires":[["1bc92d08a13bda63"]]},{"id":"a4aa79e70ea9e971","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2040,"wires":[["8029c55bd6723bbe"]]},{"id":"f7e6690dfd7e5fef","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2260,"wires":[["dd1a807977949c34"]]},{"id":"48d23381f4e772c9","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2480,"wires":[["52df67e4cd86aaa3"]]},{"id":"7915b4a53b00f752","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2740,"wires":[["89e1396c045e47e3"]]},{"id":"c61bc4c902c80365","type":"inject","z":"5c231bdd95311f55","name":"blinkMs default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"blinkMs\":1000}","payloadType":"json","x":1000,"y":320,"wires":[["d818df665fec8596"]]},{"id":"ae1a16ae2648b190","type":"inject","z":"5c231bdd95311f55","name":"blinkMs fast","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"blinkMs\":200}","payloadType":"json","x":990,"y":280,"wires":[["d818df665fec8596"]]},{"id":"130ebfaeecff29b3","type":"comment","z":"5c231bdd95311f55","name":"Sensor Config","info":"","x":1310,"y":40,"wires":[]},{"id":"1a36082a87e3a29a","type":"comment","z":"5c231bdd95311f55","name":"Tower Config","info":"","x":970,"y":40,"wires":[]},{"id":"ba36f9ef8326e616","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1175,"y":100,"wires":[]},{"id":"34daa47cfad8087f","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1175,"y":200,"wires":[]},{"id":"d818df665fec8596","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1175,"y":300,"wires":[]},{"id":"94e9ca09c9725e1c","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1515,"y":120,"wires":[]},{"id":"78cbdc81bbdfe523","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1515,"y":240,"wires":[]},{"id":"1b3a4d6456cf6809","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1515,"y":440,"wires":[]},{"id":"1028e1b8a9d39744","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":1515,"y":340,"wires":[]},{"id":"7cd121af80a4f8b2","type":"inject","z":"5c231bdd95311f55","name":"i2c sensor update (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorUpdateSeconds\":60}","payloadType":"json","x":1370,"y":160,"wires":[["94e9ca09c9725e1c"]]},{"id":"d2c8bda5fdb82605","type":"inject","z":"5c231bdd95311f55","name":"Temp C (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorTempMode\":\"c\"}","payloadType":"json","x":1340,"y":360,"wires":[["1028e1b8a9d39744"]]},{"id":"abf6d1eddfdab411","type":"inject","z":"5c231bdd95311f55","name":"Temp F","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorTempMode\":\"f\"}","payloadType":"json","x":1310,"y":320,"wires":[["1028e1b8a9d39744"]]},{"id":"8aeb76d5fc68f959","type":"inject","z":"5c231bdd95311f55","name":"Clock 24 (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorClockMode\":\"24\"}","payloadType":"json","x":1340,"y":260,"wires":[["78cbdc81bbdfe523"]]},{"id":"2364fa56bb7f3f34","type":"inject","z":"5c231bdd95311f55","name":"Clock 12","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorClockMode\":\"12\"}","payloadType":"json","x":1320,"y":220,"wires":[["78cbdc81bbdfe523"]]},{"id":"a0e6f9d66e3d1a93","type":"inject","z":"5c231bdd95311f55","name":"i2c sensor update fast","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorUpdateSeconds\":25}","payloadType":"json","x":1360,"y":120,"wires":[["94e9ca09c9725e1c"]]},{"id":"2078aa9cedec8704","type":"inject","z":"5c231bdd95311f55","name":"i2c sensor update off","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorUpdateSeconds\":0}","payloadType":"json","x":1350,"y":80,"wires":[["94e9ca09c9725e1c"]]},{"id":"bd567e6d49b75d4f","type":"inject","z":"5c231bdd95311f55","name":"sleep disabled","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorSleepOLEDEnable\":false}","payloadType":"json","x":1330,"y":420,"wires":[["1b3a4d6456cf6809"]]},{"id":"1cfef0c0959f1a7a","type":"inject","z":"5c231bdd95311f55","name":"sleep default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorSleepOLEDEnable\":true}","payloadType":"json","x":1330,"y":460,"wires":[["1b3a4d6456cf6809"]]},{"id":"c2f40afd263b756c","type":"comment","z":"5c231bdd95311f55","name":"OLED Sleep State","info":"","x":210,"y":840,"wires":[]},{"id":"02f862313e1d5a92","type":"inject","z":"5c231bdd95311f55","name":"Sleep ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":200,"y":880,"wires":[["c5b099a5b910ddd1"]]},{"id":"876059640b963506","type":"inject","z":"5c231bdd95311f55","name":"Sleep OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":200,"y":920,"wires":[["c5b099a5b910ddd1"]]},{"id":"c5b099a5b910ddd1","type":"state-machine","z":"5c231bdd95311f55","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["{\"sensorSleepOLED\":false}","{\"sensorSleepOLED\":true}"],"transitions":[{"name":"1","from":"{\"sensorSleepOLED\":false}","to":"{\"sensorSleepOLED\":true}"},{"name":"0","from":"{\"sensorSleepOLED\":true}","to":"{\"sensorSleepOLED\":false}"}],"x":400,"y":900,"wires":[["fa90746b5798a7b1"]]},{"id":"fa90746b5798a7b1","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":515,"y":900,"wires":[]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]