version 3/code/towerlight_wifi_0_9_0/towerlight_nodered_demo.txt
[{"id":"fcd7902375342383","type":"mqtt in","z":"5c231bdd95311f55","name":"","topic":"stat/c15e15/lwt","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"inputs":0,"x":200,"y":440,"wires":[["b6b2f3c2d578c860"]]},{"id":"412bd70551c3c634","type":"comment","z":"5c231bdd95311f55","name":"Flash Interval","info":"","x":190,"y":600,"wires":[]},{"id":"52f6d6bfaf18d655","type":"inject","z":"5c231bdd95311f55","name":"i2c sensor update (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"UpdateMillis\":60000}","payloadType":"json","x":1170,"y":140,"wires":[["bcfdc6ec36af648b"]]},{"id":"5054bff5f2030d55","type":"comment","z":"5c231bdd95311f55","name":"LWT","info":"","x":170,"y":400,"wires":[]},{"id":"ca8fa186386c31fd","type":"comment","z":"5c231bdd95311f55","name":"MQTT Config","info":"","x":190,"y":240,"wires":[]},{"id":"04d4c7af37432c0e","type":"link in","z":"5c231bdd95311f55","name":"mqtt out - LED","links":["0d0e47a8d7081557","2b40078c13c4f508","3ea0af19fdfb2af4","4a36872db83cb921","a7b96dbdbb863b1a","a85de06199290132","ba88dd6a5c74f432","bdd00f9b2024af93","c263395609a053e1","dee55b3017438b6d","1403c261cee805e3","44ddbae5fec18f9c","9d778cfd5ce5b453"],"x":135,"y":360,"wires":[["ac991122a27d5a0b"]]},{"id":"720a9953d7541e93","type":"inject","z":"5c231bdd95311f55","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":640,"wires":[["cb1a4fcd785e50f9"]]},{"id":"4a73120d438291f5","type":"inject","z":"5c231bdd95311f55","name":"stop timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":200,"y":680,"wires":[["cb1a4fcd785e50f9"]]},{"id":"cb1a4fcd785e50f9","type":"trigger","z":"5c231bdd95311f55","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":660,"wires":[["f4cfbdeac2a26208"]]},{"id":"29647b5d4df5abfa","type":"comment","z":"5c231bdd95311f55","name":"MQTT Command","info":"","x":200,"y":320,"wires":[]},{"id":"bc036dfeb4afce57","type":"state-machine","z":"5c231bdd95311f55","name":"Controller status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"true","from":"offline","to":"online"},{"name":"false","from":"online","to":"offline"}],"x":680,"y":440,"wires":[[]]},{"id":"f4cfbdeac2a26208","type":"state-machine","z":"5c231bdd95311f55","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["{\"flash\":false}","{\"flash\":true}"],"transitions":[{"name":"1","from":"{\"flash\":true}","to":"{\"flash\":false}"},{"name":"1","from":"{\"flash\":false}","to":"{\"flash\":true}"}],"x":620,"y":660,"wires":[["9e89b350610cc2e3"]]},{"id":"9489cade687d3183","type":"change","z":"5c231bdd95311f55","name":"cmnd/c15e15","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/c15e15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":360,"wires":[["b71401414199374c"]]},{"id":"b71401414199374c","type":"mqtt out","z":"5c231bdd95311f55","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":920,"y":320,"wires":[]},{"id":"bcfdc6ec36af648b","type":"change","z":"5c231bdd95311f55","name":"conf/c15e15","rules":[{"t":"set","p":"topic","pt":"msg","to":"conf/c15e15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":280,"wires":[["b71401414199374c"]]},{"id":"ac991122a27d5a0b","type":"change","z":"5c231bdd95311f55","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"channel\":$.channel,\t   \"mode\":$.mode,\t   \"brightness\":$.brightness\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":360,"wires":[["9489cade687d3183"]]},{"id":"38e55b5e7b27d6ff","type":"inject","z":"5c231bdd95311f55","name":"Multi mode","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"TowerMode\":\"multi\"}","payloadType":"json","x":160,"y":60,"wires":[["bcfdc6ec36af648b"]]},{"id":"c69c7074a47fc845","type":"inject","z":"5c231bdd95311f55","name":"single mode (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"TowerMode\":\"single\"}","payloadType":"json","x":200,"y":100,"wires":[["bcfdc6ec36af648b"]]},{"id":"ed4d70d880d7b10a","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1320,"wires":[["7b831cdd144868cd"]]},{"id":"9248bdf5305e6c4b","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1400,"wires":[["7b831cdd144868cd"]]},{"id":"7b831cdd144868cd","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1320,"wires":[["bdd00f9b2024af93"]]},{"id":"56a5893a4ef94592","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1320,"wires":[["dee55b3017438b6d"]]},{"id":"655be90980075a66","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1320,"wires":[["56a5893a4ef94592"]]},{"id":"ac8a1c8d10051249","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1400,"wires":[["56a5893a4ef94592"]]},{"id":"a505f10f56676aaf","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1540,"wires":[["de26b2edf7372e29"]]},{"id":"3025fe4c62dd73e8","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1620,"wires":[["de26b2edf7372e29"]]},{"id":"de26b2edf7372e29","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1540,"wires":[["a7b96dbdbb863b1a"]]},{"id":"59b24dcbf091d03f","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1540,"wires":[["0d0e47a8d7081557"]]},{"id":"66050a85a481f13c","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1540,"wires":[["59b24dcbf091d03f"]]},{"id":"7ba2abaa2f45b388","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1620,"wires":[["59b24dcbf091d03f"]]},{"id":"0ab2316ec4a4c3bf","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1760,"wires":[["1aaa672b6a9eaee9"]]},{"id":"910969914ca796e2","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1840,"wires":[["1aaa672b6a9eaee9"]]},{"id":"cc77e8e43ef609a0","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1880,"wires":[["1aaa672b6a9eaee9"]]},{"id":"1aaa672b6a9eaee9","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1760,"wires":[["a85de06199290132"]]},{"id":"e0e07a01da201f75","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1760,"wires":[["ba88dd6a5c74f432"]]},{"id":"c85270b44aaf581a","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1760,"wires":[["e0e07a01da201f75"]]},{"id":"ad0da87b9b6bacf8","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1840,"wires":[["e0e07a01da201f75"]]},{"id":"bdd00f9b2024af93","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":455,"y":1320,"wires":[]},{"id":"a7b96dbdbb863b1a","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":455,"y":1540,"wires":[]},{"id":"a85de06199290132","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":455,"y":1760,"wires":[]},{"id":"dee55b3017438b6d","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":835,"y":1320,"wires":[]},{"id":"0d0e47a8d7081557","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":835,"y":1540,"wires":[]},{"id":"ba88dd6a5c74f432","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":835,"y":1760,"wires":[]},{"id":"ce58e3ecd0aa178c","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1980,"wires":[["cff246e39c00a705"]]},{"id":"a4becf64aec61162","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2060,"wires":[["cff246e39c00a705"]]},{"id":"cff246e39c00a705","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1980,"wires":[["4a36872db83cb921"]]},{"id":"6d41112a0fe2303e","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1980,"wires":[["3ea0af19fdfb2af4"]]},{"id":"46e9f278495a380b","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1980,"wires":[["6d41112a0fe2303e"]]},{"id":"7110f6d779e3444c","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2060,"wires":[["6d41112a0fe2303e"]]},{"id":"4a36872db83cb921","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":455,"y":1980,"wires":[]},{"id":"3ea0af19fdfb2af4","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":835,"y":1980,"wires":[]},{"id":"d35ac805b8cee024","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2200,"wires":[["b727e4f4d6454b53"]]},{"id":"d48b6ce93a5a6776","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2280,"wires":[["b727e4f4d6454b53"]]},{"id":"b727e4f4d6454b53","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2200,"wires":[["c263395609a053e1"]]},{"id":"239ed9c996da9826","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2200,"wires":[["2b40078c13c4f508"]]},{"id":"c219e3121e4ed1af","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2200,"wires":[["239ed9c996da9826"]]},{"id":"698529182ced0587","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2280,"wires":[["239ed9c996da9826"]]},{"id":"c263395609a053e1","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":455,"y":2200,"wires":[]},{"id":"2b40078c13c4f508","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":835,"y":2200,"wires":[]},{"id":"fb21b0b1c5c6db77","type":"comment","z":"5c231bdd95311f55","name":"LED Control","info":"","x":190,"y":1280,"wires":[]},{"id":"de8841006509b3a9","type":"mqtt in","z":"5c231bdd95311f55","name":"","topic":"tele/c15e15","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"inputs":0,"x":190,"y":540,"wires":[["175c576c68b73577"]]},{"id":"175c576c68b73577","type":"debug","z":"5c231bdd95311f55","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":540,"wires":[]},{"id":"0a2141e33e7f9438","type":"comment","z":"5c231bdd95311f55","name":"Sleep State","info":"","x":190,"y":720,"wires":[]},{"id":"d71b10ca0a5bb3cc","type":"inject","z":"5c231bdd95311f55","name":"Sleep ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":200,"y":760,"wires":[["29bee011a0d768a3"]]},{"id":"6154da62092d33c3","type":"inject","z":"5c231bdd95311f55","name":"Sleep OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":200,"y":800,"wires":[["29bee011a0d768a3"]]},{"id":"29bee011a0d768a3","type":"state-machine","z":"5c231bdd95311f55","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["{\"sleep\":false}","{\"sleep\":true}"],"transitions":[{"name":"1","from":"{\"sleep\":false}","to":"{\"sleep\":true}"},{"name":"0","from":"{\"sleep\":true}","to":"{\"sleep\":false}"}],"x":400,"y":780,"wires":[["b572789548fdc9ce"]]},{"id":"052cb876e5d4bb40","type":"change","z":"5c231bdd95311f55","name":"config","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"year\":$.myyear,\t   \"month\":$.mymonthn,\t   \"day\":$.mydom,\t   \"hour\":$.myhour,\t   \"minute\":$.myminute,\t   \"seconds\":$.mysecond\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":880,"wires":[["090a6fa8c8948b0f"]]},{"id":"0652de08681f0f48","type":"link in","z":"5c231bdd95311f55","name":"mqtt out - cmnd","links":["9e89b350610cc2e3","b572789548fdc9ce","cccc315547f4da40"],"x":315,"y":320,"wires":[["9489cade687d3183"]]},{"id":"b572789548fdc9ce","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":515,"y":780,"wires":[]},{"id":"9e89b350610cc2e3","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":735,"y":660,"wires":[]},{"id":"9042eb18ed744da7","type":"link in","z":"5c231bdd95311f55","name":"mqtt out - conf","links":["090a6fa8c8948b0f"],"x":295,"y":240,"wires":[["bcfdc6ec36af648b"]]},{"id":"321c850a93235ba7","type":"simpletime","z":"5c231bdd95311f55","name":"","mydate":false,"myymd":false,"myyear":true,"mymonth":false,"mymonthn":true,"mydom":true,"mydoy":false,"myday":false,"myhourpm":false,"myhour":true,"mytime":false,"mytimes":false,"myminute":true,"myminutes":false,"mysecond":true,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":390,"y":880,"wires":[["052cb876e5d4bb40"]]},{"id":"40a50c0e163767ed","type":"inject","z":"5c231bdd95311f55","name":"Update Time","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":210,"y":880,"wires":[["321c850a93235ba7"]]},{"id":"1bda2baef4903e24","type":"comment","z":"5c231bdd95311f55","name":"Update RTC","info":"","x":190,"y":840,"wires":[]},{"id":"090a6fa8c8948b0f","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["9042eb18ed744da7"],"x":615,"y":880,"wires":[]},{"id":"3385c5b52f2c2a78","type":"comment","z":"5c231bdd95311f55","name":"Tele Data","info":"","x":180,"y":500,"wires":[]},{"id":"b6b2f3c2d578c860","type":"switch","z":"5c231bdd95311f55","name":"","property":"payload.online","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":440,"wires":[["612c43f64f553f01"],["f8b016436a629dad"]]},{"id":"612c43f64f553f01","type":"change","z":"5c231bdd95311f55","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["bc036dfeb4afce57"]]},{"id":"f8b016436a629dad","type":"change","z":"5c231bdd95311f55","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":460,"wires":[["bc036dfeb4afce57"]]},{"id":"1841c3ddfbf5f566","type":"inject","z":"5c231bdd95311f55","name":"sleep disabled","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sleepModes\":[0,0,0,0,0,0,0]}","payloadType":"json","x":890,"y":60,"wires":[["bcfdc6ec36af648b"]]},{"id":"389e6c1988edb405","type":"inject","z":"5c231bdd95311f55","name":"sleep default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sleepModes\":[0,1,1,1,1,0,1]}","payloadType":"json","x":890,"y":100,"wires":[["bcfdc6ec36af648b"]]},{"id":"461baf0bbef4e129","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2460,"wires":[["b9e3fd0333d067a1"]]},{"id":"f3c345b448d38b1c","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2540,"wires":[["b9e3fd0333d067a1"]]},{"id":"b9e3fd0333d067a1","type":"change","z":"5c231bdd95311f55","name":"colour","rules":[{"t":"set","p":"channel","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"colour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2460,"wires":[["1403c261cee805e3"]]},{"id":"5217d3494cc5ee8e","type":"change","z":"5c231bdd95311f55","name":"flash","rules":[{"t":"set","p":"channel","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"mode","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2460,"wires":[["44ddbae5fec18f9c"]]},{"id":"32f69f538efd9793","type":"inject","z":"5c231bdd95311f55","name":"off","props":[{"p":"brightness","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2460,"wires":[["5217d3494cc5ee8e"]]},{"id":"dc3ca4e839bf4217","type":"inject","z":"5c231bdd95311f55","name":"mid","props":[{"p":"brightness","v":"50","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2540,"wires":[["5217d3494cc5ee8e"]]},{"id":"1403c261cee805e3","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":455,"y":2460,"wires":[]},{"id":"44ddbae5fec18f9c","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["04d4c7af37432c0e"],"x":835,"y":2460,"wires":[]},{"id":"4ad8ccd71dc50300","type":"comment","z":"5c231bdd95311f55","name":"Buzzer Control","info":"","x":200,"y":2420,"wires":[]},{"id":"d9990f7294fbcf49","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1360,"wires":[["7b831cdd144868cd"]]},{"id":"61a6c8117f49900a","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1480,"wires":[["7b831cdd144868cd"]]},{"id":"e9a95266250e9ba4","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1360,"wires":[["56a5893a4ef94592"]]},{"id":"1af0cd806cc9ea36","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1480,"wires":[["56a5893a4ef94592"]]},{"id":"a2637b9fec3e282b","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1700,"wires":[["de26b2edf7372e29"]]},{"id":"63ed099dc40d19c9","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1580,"wires":[["de26b2edf7372e29"]]},{"id":"00221fdbf6088a2b","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1700,"wires":[["59b24dcbf091d03f"]]},{"id":"f854c9c303fd3470","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1580,"wires":[["59b24dcbf091d03f"]]},{"id":"9dc6682e8e70d778","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1920,"wires":[["1aaa672b6a9eaee9"]]},{"id":"c242c91ca6cfc82c","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1800,"wires":[["1aaa672b6a9eaee9"]]},{"id":"fe58fe2fcf2f3e82","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1920,"wires":[["e0e07a01da201f75"]]},{"id":"3cebbe4395b4bad2","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1800,"wires":[["e0e07a01da201f75"]]},{"id":"5f409884242ab6a4","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2140,"wires":[["cff246e39c00a705"]]},{"id":"1fcb5744c16d8488","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2020,"wires":[["cff246e39c00a705"]]},{"id":"e213f3e11ea7bbb1","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2140,"wires":[["6d41112a0fe2303e"]]},{"id":"374e1c32eeddfdea","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2020,"wires":[["6d41112a0fe2303e"]]},{"id":"6fa0d1b7d04330fa","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2620,"wires":[["b9e3fd0333d067a1"]]},{"id":"da6a20c24ce5b1c9","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2500,"wires":[["b9e3fd0333d067a1"]]},{"id":"4344dc3eb5aeac94","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2620,"wires":[["5217d3494cc5ee8e"]]},{"id":"3fae41a05d71bcd7","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2500,"wires":[["5217d3494cc5ee8e"]]},{"id":"cd94c68ee0c60b5c","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2360,"wires":[["b727e4f4d6454b53"]]},{"id":"ceb257002602e8c2","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2240,"wires":[["b727e4f4d6454b53"]]},{"id":"59b920ccc40a8eae","type":"inject","z":"5c231bdd95311f55","name":"max","props":[{"p":"brightness","v":"250","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2360,"wires":[["239ed9c996da9826"]]},{"id":"9c8e561270a0cfd6","type":"inject","z":"5c231bdd95311f55","name":"low","props":[{"p":"brightness","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2240,"wires":[["239ed9c996da9826"]]},{"id":"df309c622a063206","type":"inject","z":"5c231bdd95311f55","name":"Screen off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ScreenMode\":\"off\"}","payloadType":"json","x":200,"y":980,"wires":[["cccc315547f4da40"]]},{"id":"64fc8774eff393d8","type":"inject","z":"5c231bdd95311f55","name":"Screen one (default)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ScreenMode\":\"one\"}","payloadType":"json","x":230,"y":1020,"wires":[["cccc315547f4da40"]]},{"id":"a6fe04d68c791478","type":"inject","z":"5c231bdd95311f55","name":"Screen two","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ScreenMode\":\"two\"}","payloadType":"json","x":200,"y":1060,"wires":[["cccc315547f4da40"]]},{"id":"57a11aa8c3a6d519","type":"inject","z":"5c231bdd95311f55","name":"Screen three","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ScreenMode\":\"three\"}","payloadType":"json","x":210,"y":1100,"wires":[["cccc315547f4da40"]]},{"id":"90980e166e4e977a","type":"inject","z":"5c231bdd95311f55","name":"Screen four","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ScreenMode\":\"four\"}","payloadType":"json","x":210,"y":1140,"wires":[["cccc315547f4da40"]]},{"id":"cccc315547f4da40","type":"link out","z":"5c231bdd95311f55","name":"","mode":"link","links":["0652de08681f0f48"],"x":775,"y":980,"wires":[]},{"id":"a02ac6e71bc7c723","type":"inject","z":"5c231bdd95311f55","name":"custom text 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"OLEDone\":\"sum\",\"OLEDtwo\":\"text\"}","payloadType":"json","x":210,"y":1180,"wires":[["cccc315547f4da40"]]},{"id":"01ad305b2031f5d2","type":"simpletime","z":"5c231bdd95311f55","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":true,"mytimes":false,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":390,"y":1220,"wires":[["3761c01201b2c39c"]]},{"id":"3761c01201b2c39c","type":"change","z":"5c231bdd95311f55","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"ScreenMode\":\"four\",\t   \"OLEDone\":$.text,\t   \"OLEDtwo\":$.mytime\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1220,"wires":[["cccc315547f4da40"]]},{"id":"53f6de4fbdc7eb14","type":"inject","z":"5c231bdd95311f55","name":"doorbell example","props":[{"p":"text","v":"Front bell","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":1220,"wires":[["01ad305b2031f5d2"]]},{"id":"08f29d35cda6d840","type":"inject","z":"5c231bdd95311f55","name":"Temp C (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"TempMode\":\"c\"}","payloadType":"json","x":680,"y":100,"wires":[["bcfdc6ec36af648b"]]},{"id":"7e68e0851b0e2510","type":"inject","z":"5c231bdd95311f55","name":"Temp F","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"TempMode\":\"f\"}","payloadType":"json","x":650,"y":60,"wires":[["bcfdc6ec36af648b"]]},{"id":"943dcbd6e4066111","type":"inject","z":"5c231bdd95311f55","name":"Clock 24 (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ClockMode\":\"24\"}","payloadType":"json","x":440,"y":100,"wires":[["bcfdc6ec36af648b"]]},{"id":"98ce19f03bfe0945","type":"inject","z":"5c231bdd95311f55","name":"Clock 12","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ClockMode\":\"12\"}","payloadType":"json","x":420,"y":60,"wires":[["bcfdc6ec36af648b"]]},{"id":"b8a6cbd1c0cea3ab","type":"inject","z":"5c231bdd95311f55","name":"Config Payload (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"TempMode\":\"c\",\"ClockMode\":\"24\",\"TowerMode\":\"single\",\"UpdateMillis\":60000,\"sleepModes\":[0,1,1,1,1,0,1]}","payloadType":"json","x":240,"y":280,"wires":[["bcfdc6ec36af648b"]]},{"id":"316f019d1ba318d7","type":"inject","z":"5c231bdd95311f55","name":"i2c sensor update fast","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"UpdateMillis\":2500}","payloadType":"json","x":1160,"y":100,"wires":[["bcfdc6ec36af648b"]]},{"id":"5163a12a3ecfb497","type":"inject","z":"5c231bdd95311f55","name":"i2c sensor update off","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"UpdateMillis\":0}","payloadType":"json","x":1150,"y":60,"wires":[["bcfdc6ec36af648b"]]},{"id":"5e7c567d919566f2","type":"comment","z":"5c231bdd95311f55","name":"OLED Control","info":"","x":190,"y":940,"wires":[]},{"id":"38111b338017863f","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1440,"wires":[["7b831cdd144868cd"]]},{"id":"1d2bed84962a09e0","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1440,"wires":[["56a5893a4ef94592"]]},{"id":"a2c9de81b3b65fa7","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1660,"wires":[["de26b2edf7372e29"]]},{"id":"57d255ea9cfe8535","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1660,"wires":[["59b24dcbf091d03f"]]},{"id":"4856d2b0523a9e42","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":1880,"wires":[["e0e07a01da201f75"]]},{"id":"8458c7f219c2db91","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2100,"wires":[["cff246e39c00a705"]]},{"id":"39b06da2063744c9","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2100,"wires":[["6d41112a0fe2303e"]]},{"id":"6f0fc6051aee8899","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2320,"wires":[["b727e4f4d6454b53"]]},{"id":"00c146940122bc28","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2320,"wires":[["239ed9c996da9826"]]},{"id":"b1ad3520b7bbf438","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":2580,"wires":[["b9e3fd0333d067a1"]]},{"id":"bee4fc07f4954c5f","type":"inject","z":"5c231bdd95311f55","name":"high","props":[{"p":"brightness","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":570,"y":2580,"wires":[["5217d3494cc5ee8e"]]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]